<div class="container">
  <!-- <app-loader [condition]="loading"></app-loader> -->
  <form id="new_customer" method="post">
    <div class="modal-header">
      <h5 class="modal-title"><b>Cadastro de Novo Aluno</b></h5>
    </div>
    <div class="modal-body">
      <div class="form-row">
        <div class="col-9 mb-3">
          <input [(ngModel)]="aluno.nome" name="nome" class="form-control"
            placeholder="Digite o nome completo do Aluno..." type="text" name="nomeAluno">
        </div>

        <div class="input-group col-3 mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">RA</span>
          </div>
          <input [(ngModel)]="aluno.matricula" name="matricula" type="text" class="form-control"
            placeholder="Digite a sua Matrícula..." type="text" name="matriculaAluno">
        </div>
      </div>

      <div class="form-row">
        <div class="input-group col mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text">Disciplinas</label>
            <ng-select [clearable]="true" [multiple]="true" bindValue="_id" [items]="aluno.disciplina" bindLabel="nome"
              [(ngModel)]="aluno.disciplinaSelcionada" name="aluno.disciplinaSelcionada"></ng-select>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer row classFooter">
      <div class="col mb-3">
        <input type="submit" name="cancel" id="voltar" value="Voltar" class="btn btn-secondary"
          [routerLink]="['/alunos']">
      </div>

      <button (click)="save()" type="button" class="btn btn-primary col-1 mb-3 cssbutton">
        {{aluno._id ? 'Atualizar' : 'Cadastrar'}}
      </button>
    </div>
  </form>
</div>