<div class="container">
    <app-loader [condition]="loading"></app-loader>
  <form *ngIf="!loading" id="new_customer" method="post">
      <div class="modal-header">
        <h5 class="modal-title"><b>{{professor.id ? 'Atualização de Professor' : 'Cadastro de Professor'}}</b></h5>
      </div>
      <div class="modal-body">
        <div class="form-row">
          <div class="col">
            <input [(ngModel)]="professor.name" name="nome" class="form-control"
              placeholder="Digite o nome completo do Professor..." type="text" name="nomeProfessor">
          </div>
  
          <div class="input-group col-3 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">RP</span>
            </div>
            <input [(ngModel)]="professor.RP" disabled name="matricula" type="text" class="form-control"
              placeholder="A matrícula será gerada..." type="text" name="matriculaProfessor">
          </div>
        </div>
  
        <div class="form-row">
          <div class=" col-2 mb-3">
            <span class="input-group-text" title="Escolha uma Disciplina..." id="basic-addon1">Escolha uma Disci...</span>
          </div>
          <div class="col">
            <ng-select [clearable]="true" [multiple]="true" bindValue="id" [items]="disciplines" bindLabel="name"
              [(ngModel)]="professor.discipline_id" name="professor.discipline_id" [closeOnSelect]="false"
              [searchable]="false">
              <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                <div class="ng-value" *ngFor="let item of items | slice:0:5">
                  <span class="ng-value-label">
                    {{item.name}}</span>
                  <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                </div>
                <div class="ng-value" *ngIf="items.length > 5">
                  <span class="ng-value-label">{{items.length - 5}} Mais...</span>
                </div>
              </ng-template>
            </ng-select>
          </div>
        </div>
      </div>
  
      <div class="modal-footer row classFooter">
        <div class="col mb-3">
          <input type="submit" name="cancel" id="voltar" value="Voltar" class="btn btn-secondary"
            [routerLink]="['/professores']">
        </div>
  
        <button (click)="save()" type="button" class="btn btn-primary col-1 mb-3 cssbutton">
          {{professor.id ? 'Atualizar' : 'Cadastrar'}}
        </button>
      </div>
    </form>
  </div>